@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --isred: #ff3300;
    --slate-200: rgb(226, 232, 240);
    --slate-400: rgb(148, 163, 184);
    --white: #ffffff;
  }
}
